#hand{
background-color: grey;
display:grid;
 grid-template-rows: 1fr;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 border-style: double;
}
    #Field{
        background-color: rgb(187, 89, 89);
        display:grid;
         grid-template-rows: 1fr 1fr 1fr;
         grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        border-style:double;
      }
      table{
        display:contents;
      }
      tbody {
        display:contents;
      }
      tr{
        display:contents;
      }
      td{
          border: 1px floralwhite double;
      }